@font-face {
  font-family: "Titel";
  src: url("Schriftart/funtasi-lear-trial/Funtasi/Lear/Trial.otf");
}

body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  background: black;
}

#startseite {
  --start-groesse: max(100vw, 100vh * 16 / 9);
  position: relative;
  width: var(--start-groesse);
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  overflow: hidden;
  font-size: calc(var(--start-groesse) * 0.02);
}


#startbildschirm-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#titel-bereich {
  position: absolute;
  top: 7%; 
  left: 45%;
  transform: translateX(-50%);
  text-align: center;
}

/* Hintergrundbild vom Titel */
#titel-hintergrund {
  width: 150%;      /* skaliert mit der Gesamtfläche */
  display: block;
  margin: 0 auto;
}

/* Der eigentliche Titel-Text */
#titel {
  position: absolute;
  top: 50%;        /* relativ zum Titelbild */
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Titel", sans-serif;
  font-size: 2em;  /* skaliert über font-size vom Wrapper mit */
  color: white;
}

/* Button innerhalb der 16:9-Fläche */
#start-button {
  position: absolute;
  top: 70%;         /* % der 16:9-Höhe */
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5em 1.5em;
  font-size: 1em;
  cursor: pointer;
  z-index: 1;
}