body {
  margin: 0;
  background-color: #000000;
}

#hintergrund {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hintergrund img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Bild vollständig*/
}